.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/caa5d4dab23f4fc9ffc76d8caf3f506475ba508a01f8020f5d332ce425c3358b0610fe1af399f8eec112f9f1cc12ee601bc12735e2b705b7f62816_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1004px;
}

.u-section-1 .u-image-1 {
  width: 360px;
  height: 387px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-family: Lato, sans-serif;
  text-shadow: 2px 2px 8px rgba(116,84,62,0.4);
  text-transform: uppercase;
  width: 861px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px auto 0;
}

.u-section-1 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: 32px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: none;
  width: 516px;
  margin: 54px auto 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 168px;
  min-height: 16px;
  width: 168px;
  min-width: 16px;
  margin: 32px auto 60px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 828px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.625rem;
    width: 720px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 279px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 366px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}