.u-section-1 {
  background-image: url("images/23a5c835f6352f52c30e2882ff3a43e6c2c88930b77505f61b21082d484d432aa2b4b56fd4422b7fcfbdaff3df940508ff68c13c3068c00fa2e7c3_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1542px;
}

.u-section-1 .u-group-1 {
  width: 692px;
  min-height: 177px;
  margin: 31px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 13px;
  padding-right: 13px;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 60px;
}

.u-section-1 .u-group-2 {
  width: 704px;
  min-height: 1232px;
  height: auto;
  margin: 31px auto 60px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 12px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 1078px;
  height: auto;
  width: 330px;
  margin: 32px auto 0;
}

.u-section-1 .u-text-2 {
  margin: -10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-1 .u-group-1 {
    min-height: 192px;
    margin-top: 11px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 16px;
    margin-left: 43px;
    margin-right: 43px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 12px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 11px;
    margin-right: -137px;
    margin-left: 198px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 11px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 41px;
    margin-right: 41px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: -152px;
    margin-left: 213px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 791px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 15px;
    min-height: 161px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: 369px;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: -99px;
    margin-left: 119px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-right: auto;
    margin-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1434px;
  }

  .u-section-1 .u-group-1 {
    min-height: 128px;
    width: 340px;
    margin-top: 38px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: 320px;
    margin-top: 33px;
  }

  .u-section-1 .u-group-2 {
    min-height: 1191px;
    margin-top: 37px;
    margin-bottom: 42px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin: 0 13px -20px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 254px;
}

.u-section-2 .u-shape-1 {
  height: 175px;
  margin: 40px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1084px;
  margin: -160px auto 55px 28px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 125px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 147px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-btn-1 {
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-2 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 108px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 127px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 229px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-2 .u-shape-1 {
    height: 276px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -261px;
  }

  .u-section-2 .u-text-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 40px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}