.u-section-1 {
  background-image: linear-gradient(#2e1a47, #e5e5e5);
}

.u-section-1 .u-sheet-1 {
  min-height: 1520px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1 .u-custom-html-1 {
  margin-top: 29px;
  margin-bottom: 60px;
  min-height: 1332px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    height: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1427px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 10px;
    margin-bottom: 0;
  }
}