.u-section-1 {
  background-image: url("images/2e79e5e72270cedd47ad26624b312e0f3f2ab4ee5f279a36d3d1dcb6711a7e914a04e9a88f3ea83693ad22a37d6770069e907a062e1bdce9b959ed_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1170px;
}

.u-section-1 .u-group-1 {
  width: 396px;
  min-height: 65px;
  margin: 88px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 9px;
  padding-right: 9px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 5px 0 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 607px;
  height: auto;
  width: 400px;
  margin: 22px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 966px;
  }

  .u-section-1 .u-group-1 {
    min-height: 73px;
    margin-top: 55px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 7px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-1 .u-group-1 {
    min-height: 75px;
    margin-top: 60px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 10px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 33px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-1 .u-group-1 {
    min-height: 69px;
    margin-top: 35px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 20px;
    margin-bottom: 53px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-1 .u-group-1 {
    min-height: 49px;
    width: 303px;
    margin-top: 25px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}