.u-section-1 {
  background-image: linear-gradient(#f8934a, #ffffff);
}

.u-section-1 .u-sheet-1 {
  min-height: 503px;
}

.u-section-1 .u-custom-html-1 {
  margin: 30px auto 60px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 673px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 27px;
    margin-bottom: 27px;
    height: auto;
    min-height: 620px;
    margin-right: initial;
    margin-left: initial;
  }
}